
:root {
    --couleur_pricipale_blanc: #F9F4F2;
    --couleur_pricipale_bleu: #2f1664;
    --couleur_texte: #2F1664;
    --coleur_carte_survole: #6942BB;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body, html {
    width: 100%;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--couleur_pricipale_blanc);
    color: var(--couleur_texte);
}

a {
    color: var(--couleur_texte);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.centrer {
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    position: fixed;
    width: 100%;
    height: 7%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--couleur_pricipale_blanc);
    border-bottom: 3px solid #e8e8e8;
    padding: 10px;
;
}


nav {
    padding: 0 20px;
    width: 100%;
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    font-size: 1.9em;
    gap: 10px;
    text-align: center;
}


#presentation {
    flex-direction: column;
    padding: 100px 20px 40px;
    text-align: center;
    display: none;
}

#p1 {
    font-size: 1.5em;
    font-weight: 600;
}

#p2 {
    font-size: 1em;
    color: black;
    margin-top: 10px;
}


section {
    padding: 60px 20px;

}

#enSavoirPlus {
    display: flex;
    align-items: center;
}

#APropos, #surmoi {
    text-align: justify;

}
#APropos{
    display: flex;
    flex-direction: column;
}

#surmoi h1 {
    font-size: 2.5em;
    border-bottom: 3px solid var(--couleur_pricipale_bleu);
}

#surmoi p {
    font-size: 2.5em;
    line-height: 1.5;
    color: #1D1D1F;
}
#surmoi img{
    width: 90px;
}
#surmoi a{
    font-size: 3em;
    display: flex;
    align-items: center;
    width: 500px;
}

aside img {
    width: 100%;
    height: 500px;
    width: 100%;
    border-bottom-left-radius: 30px;
}
#Projets{
    background-color: var(--couleur_pricipale_bleu);
}
#Projets, #Connaissance {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
}

#Projets h1, #Connaissance h1 {
    font-size: 1.8em;
    
}

#carts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.carte {
    width: 800px;
    font-size: 2.8em;
    height: 1000px;
    margin-bottom: 30px;
    background-color: var(--couleur_pricipale_blanc);
    border-radius: 15px;
    padding: 15px;
}
.carte img{
    width: 400px;
    height: 300px;
}
#information{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}
#bar img{
    display: none;
}
.carte p{
    text-align: center;
    width: 80%;
}
img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}


footer {
    background-color: #EDECF3;
    padding: 40px 20px;
    text-align: center;
}

footer form {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

input, textarea, button {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: var(--coleur_carte_survole);
    color: var(--couleur_pricipale_blanc);
    border: none;
}

button:hover {
    background-color: var(--couleur_pricipale_bleu);
}

#reseau img {
    width: 30px;
    margin: 10px;
}

/* --------------------
   MEDIA QUERIES: Desktop
--------------------- */
@media (min-width: 768px) {
    nav {
        display: flex ;
        flex-direction: row;
        justify-content: center;
    }

    nav ul {
        flex-direction: row;
        gap: 30px;
    }

    #menu-toggle {
        display: none;
    }

    #enSavoirPlus {
        flex-direction: row;
        justify-content: space-between;
    }

    #APropos, #surmoi, #enSavoirPlus aside {
        width: 45%;
    }

    #carts {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .carte {
        width: 300px;
    }
}
