:root{
    --couleur_pricipale_blanc:#F9F4F2;
    --couleur_pricipale_bleu:#2f1664;
    --couleur_texte:#2F1664;
    --coleur_carte_survole:#6942BB;
}
html {
    scroll-behavior: smooth;
  }
body{
    
    background-color: var(--couleur_pricipale_blanc);
    font-family: Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
}
.centrer{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--couleur_pricipale_blanc);
    border-bottom: 3px solid #e8e8e8 ;
    color: var(--couleur_texte);
}
nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

header ul{
    padding: 0;
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 3;
    font-size: 20px;
}

a{
    color: var(--couleur_texte);
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: var(--couleur_texte);
}

main{
    width: 100%;
}

@keyframes apparitionDeHautEnBas {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes apparitionfleche {
    from {
        transform: translateY(-3px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        
    }
}

#presentation {
    animation: apparitionDeHautEnBas 1.5s ease-in-out;
}
main #presentation{
    flex-direction: column;
    height: 100vh;
}
main #presentation p{
    text-align: center;
}
#p1{
    font-size: 40px;
    font-size:normal;
    font-weight: 600;
    margin-bottom: 0;
    color:var(--couleur_texte) ;
    
}
#p2{
    font-size: 20px;
    color: black;
}
#lienPresentation{
    width: 360px;
    color:var(--couleur_texte);
    font-size: 21px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
a{
    text-decoration: none;
    display: flex;
    color: var();
}
main #Projets{
    width: 100%;

}

#Projets{
    background-color: var(--couleur_pricipale_bleu);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    height: 100vh;
}
#Projets h1{
    color: var(--couleur_pricipale_blanc);
    margin-bottom:70px;
    width: 95%;
    font-size: 3em;
    text-align: center;
}
#carts{
    height: 90%;
    width: 95%;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.carte{
    width: 400px;
    height: 370px;
    background-color: var(--couleur_pricipale_blanc);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    border-radius: 15px;
}
.carte #bar{
    width: 80%;
    display: flex;
    gap: 8px;
}
.carte #image {
    margin-top: 5px;
    width: 80%;
    height: 150px;
    border: 1px solid var(--couleur_pricipale_bleu);
}
.carte #image img{
    width: 100%;
    height: 100%;
}
.carte #information{
    width: 80%;
    height: 110px;
    text-align: justify;
}
.carte {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carte:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}


#Connaissance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    height: 80vh;
}
#Connaissance .carte{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    height: 300px;
        
}
#Connaissance .carte #image {
    border: 1px solid var(--couleur_pricipale_blanc);
}
#Connaissance .carte #information{
    color: var(--couleur_pricipale_bleu);
}
#Connaissance h1{
    color: var(--couleur_pricipale_bleu);
    margin-bottom:70px;
    width: 100%;
    text-align: center;
    font-size: 3em;
}
#lienPresentation a:hover,#surmoi a:hover{
    text-decoration: underline;
}
#lienPresentation a:visited,#surmoi a:visited{
    color: var(--couleur_texte);
}
#lienPresentation a:active, #surmoi a:active{
    color: var(--couleur_texte);
}

@keyframes apparition {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
#i{
    margin-top: 5%;
    margin-left: 10px;
    color: var(--couleur_texte);
}
footer{
    width: 100%;
    height: 75vh;
    padding-top: 100px;
    background-color: #EDECF3;
    color: var(--couleur_texte); 
    justify-content: center;
}
footer h2{
    text-align: center;
}
footer #contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer form{
    width: 30%;
}
footer img{
   width: 30px;
   margin-left: 10px;
   height: 34px;
}
#reseau{
    margin-top:25px;
}
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }

  input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  button {
    width: 100%;
    background:var(--coleur_carte_survole);
    color: var(--couleur_pricipale_blanc);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 8px;
    font-size: 16px;
    cursor: pointer;
  }

  button:hover {
    background: var(--couleur_pricipale_bleu);
  }


/*//////////////////////////////////////////////////////////////////////////////////////////////////////En savoir plus ///////////////////////////////////////////////////////////////////////////*/
.separator {
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0));
    margin: 50px 0;
}
#enSavoirPlus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    margin-top: 50px;
    padding-bottom: 50px;
}

#APropos{
    
    width: 60%;
    text-align:justify;
    
}

#surmoi h1{
    border-bottom: 3px solid var(--couleur_pricipale_bleu);
    font-weight: 400;
    font-size: 40px;
    color:var(--couleur_texte);
    
}

#surmoi p{
    font-weight: 400;
    font-size: 15px;
    line-height:1.4 ;
    color: #1D1D1F;
    
}
#surmoi{
    width: 75%;
}
#surmoi a{
    font-weight: 400;
    font-size: 20px;
}
#enSavoirPlus aside{
    padding-top:7% ;
    right: 0;
    top: 85px;
    width: 40%;
}
aside img{
    border-bottom-left-radius: 30px;
    width: 70%;
    height: 80%;
    border-left: 10px solid transparent;
    border-image: linear-gradient(to right, #F5F5F7, #1D1D1F); 
    border-image-slice: 20;
    backdrop-filter: blur(10px);
    
}
/*///////////////////////////////////////////////////////////////////////////Projet/////////////////////////////////////////////////////////////*/

#Projet{
   display: flex;
   flex-direction: row;
    width:100%;
    height: 100%;
    margin-top: 10%;
    
   
}
#imageProjet{
    
    width: 50%;
    z-index: 20;

}
.imgP{
    position: absolute;
    border-top-right-radius: 50px;
    width:47%;
    height: 79%;
    
    
    
}
#projet1{
    background-color: #0066cc;
    opacity: 0;
    transition: opacity 1.5s ease;
    
}
#projet2{
    background-color: red;
    opacity: 0;
    transition: opacity 1.5s ease;
   
}


#choix{
    right: 0;
    top: 0;
    width: 35%;
}
#Projet h1{
    border-bottom: 3px black solid;
    font-weight: 750;
    font-size: 40px;
    color:#1D1D1F;
    animation: apparitionDeHautEnBas 1s ease-in-out;
}
#Projet ul{
    list-style: none;
    padding: 0;
}
#Projet li{
    padding-left:0;

}
#Projet li:nth-child(1){
    animation: apparitionDeHautEnBas 1.5s ease-in-out;
}
#Projet li:nth-child(2){
    animation: apparitionDeHautEnBas    1.4s ease-in-out;
   
}
#Projet li:nth-child(3){
    animation: apparitionDeHautEnBas 1.3s ease-in-out;
    
}
#Projet li:nth-child(4){
    animation: apparitionDeHautEnBas 1.2s ease-in-out;
   
}

#Projet li:nth-child(5){
    animation: apparitionDeHautEnBas 1.1s ease-in-out;
   
}

.translationDroite{
    transition: padding-bottom 0.5s ease-in-out;

}
.translationDroite:hover{
    padding-bottom: 10px; 
    cursor: pointer;
}

#Projet li{
    height: 45px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    border-bottom: 3px black solid;
    font-size: 24px;
    color:#1D1D1F;
}

.projet{
    font-weight:550;
}
.categorie{
    font-size: 20px;
}



